{% extends 'base.html.twig' %}

{% block title %}Lydiot | Vos comptes{% endblock %}

{% block body %}
    <section class="accounts">
        <div class="wrapper-section">
            <h1>Ajouter de l'argent</h1>
            {{ form_start(form) }}
          {{ form_widget(form.money) }}
         <div class="text-xs text-red-500">{{ form_errors(form.money) }} </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
