{% extends 'base.html.twig' %}

{% block body %}

    <section class="accounts">

        <div class="wrapper-section">
            <h1>Souhaitez-vous acceptez ce virement ?</h1>
          Montant :  {{ message.money }} euros
            {{ form_start(form) }}
          Depuis quel compte :  {{ form_widget(form.compte,  { 'attr': {'class': 'w-60 px-3 py-2 text-sm leading-tight text-gray-700 border mb-[2rem] rounded shadow appearance-none focus:outline-none focus:shadow-outline'} }) }}
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}
