.btnFlat{
  font-family: $displayFont;
  font-weight: bold;
  font-size: 1em;
  color: $blanc;
  background-color: $mainColor;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  max-width: 360px;
  width: 100%;
  transition: all 0.25s ease-in-out;
  border: none;
  cursor: pointer;
  &:hover, &:focus{
    background-color: darken($mainColor, 10);
  }
}
.btn{
  font-family: $displayFont;
  font-weight: bold;
  font-size: 1em;
  color: $blanc;
  background-color: $mainColor;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1em;
  transition: all 0.25s ease-in-out;
  border: none;
  cursor: pointer;
  &:hover, &:focus{
    background-color: darken($mainColor, 10);
  }
}