//Fonts
$displayFont : degular, sans-serif;
$mainFont : proxima-nova-condensed, sans-serif;
//Colors
$mainColor: #0180ff;
$darkMainColor: #00286b;
$blanc: #ffffff;
$noir: #000000;
//Utils
$max-width: 1440px;
$hauteurMenu: 87.63px;
$defaultFontSize: 20px;
$borderRadius: 10px;