{% extends 'base.html.twig' %}

{% block title %}Lydiot | Connexion{% endblock %}

{% block body %}
    <section class="login">
        <div class="wrapper-sectio">
            <h1 class="text-4xl uppercase font-bold mb-[2rem]">Se connecter</h1>
            <h2 class=" text-sm uppercase font-bold"> Connectez-vous pour consulter vos comptes bancaires, en créer de nouveau et effectuer des transactions </h2>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="my-[1rem]">
                    <label for="username" class="block mb-2 text-sm font-bold text-gray-700">E-mail:</label>
                    <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>

                <div class="my-[1rem]">
                    <label for="password" class="block mb-2 text-sm font-bold text-gray-700"> Mot de passe:</label>
                    <input type="password" id="password" name="_password" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"/>
                </div>
                <div>
                    <button class="btn my-[1rem] mx-auto block " type="submit">Se connecter</button>
                </div>

            </form>
            <p class="text-xs font-semibold mb-[1rem]"> Nouveau chez Lydiot ? créez un compte et rejoignez la communauté</p>
            <a class="btn" href="{{ path('app_register') }}">S'inscrire</a>
        </div>
    </section>
{% endblock %}
